<%= form_for(:session, html: {class: "form-signin"}) do |f| %>

<h2 class="form-signin-heading">Login</h2>

<%= f.label :name, class: "sr-only" %>
<%= f.text_field :name, class: "form-control", placeholder: "Your name" %>

<br>
<%= f.submit "Login", class: "btn btn-lg btn-primary btn-block" %>

<% end %>
