<h1 class="center">Your Appointments</h1>

<%= render 'appointments' %>

<% if !sitter? and @unassigned.any? %>
<h1 class="center">Unassigned Appointments</h1>

<%= render 'unassigned' %>

<% end %>

