<div class="jumbotron">
<h1>Welcome</h1>
  <p class="lead">
  <strong>Pet-sitters</strong> this is the place where you can find dogs to sit. Visit our board and find location suitable for you and take the job.
  </p>
  <p class="lead">
  <strong>Pet owners</strong> create an appointment and find sitter for your favourite pet, hassle free, using our services
  </p>
  <p><%= link_to "Register", register_path, class: "btn btn-lg btn-success" %></p>
</div>
