<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><%= link_to 'Home' %></li>
      <li role="presentation"><%= link_to 'Log in' %></li>
    </ul>
  </nav>
  <h3 class="text-muted">Pet Sitters</h3>
</div>
